<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jrm.baidulibrary">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application>
        <activity android:name="com.example.jrm.baidulibrary.MainActivity"
            android:theme="@style/CustomTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.jrm.baidulibrary.WebHtmlActivity"/>
    </application>
</manifest>